@import url("https://fonts.googleapis.com/css2?family=Acme&family=Baloo+Bhai+2:wght@400..800&family=Doppio+One&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Merienda:wght@300..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Nanum+Gothic+Coding:wght@400;700&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Play:wght@400;700&family=Playpen+Sans:wght@100..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

$green: #25a244;
$btn: #0ead69;
$black: #10221b;
$white: #fff;
$gray: #f0efef;
$light-bg: #e7ecef;
$border: 0.2rem solid white;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(autofix, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
body {
  font-family: "Ubuntu";
}
section {
  padding: 5rem 9%;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  border: $border;
  border-radius: 6px;
  color: $gray;
  font-size: 1.7rem;
  background: none;
  padding: 1rem 3rem;

  &:hover {
    background: $btn;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: $black;

    i {
      color: $green;
    }
  }
  .navbar {
    a {
      margin-left: 2rem;
      font-size: 1.7rem;
      color: $black;

      &:hover {
        color: $green;
      }
    }

    #nav-close {
      font-size: 5rem;
      cursor: pointer;
      color: $black;
      display: none;
    }
  }

  .icons a,
  .icons div {
    font-size: 2.5rem;
    cursor: pointer;
    color: $black;

    &:hover {
      color: $green;
    }
  }
  .icons a {
    margin: 0 3rem 0;
  }

  #menu-btn {
    display: none;
  }
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  transform: translateY(-110%);
  transition: 0.3s linear;

  &.active {
    transform: translateY(0);
  }

  #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: $white;
    font-size: 6rem;

    &:hover {
      color: $green;
    }
  }

  form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid $white;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      font-size: 2rem;
      font-family: "Nanum Gothic Coding";
      color: $white;
      text-transform: none;
      padding: 1.2rem 0;
      padding-right: 2rem;
      background: none;

      &::placeholder {
        color: #aaa;
      }
    }

    label {
      font-size: 3rem;
      color: $white;
      cursor: pointer;

      &:hover {
        color: $green;
      }
    }
  }
}

.home {
  padding: 0;

  .box {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 9%;

    &.second {
      justify-content: flex-end;
    }

    .content {
      width: 50rem;

      span {
        font-size: 4rem;
        color: $black;
      }

      h3 {
        font-size: 6rem;
        color: $green;
        padding-top: 0.5rem;
        text-transform: uppercase;
      }

      p {
        line-height: 2;
        color: $gray;
        font-size: 1.5rem;
        padding: 1rem 0;
      }
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: $gray;
}

/*------- Media Queries -------*/
@media (max-width: 1200px) {
  section {
    padding: 3rem 2rem;
  }

  .header {
    padding: 2rem;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 55%;
  }

  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;

    &.second {
      justify-content: center;
      background-position: left !important;
    }

    .content {
      text-align: center;

      span {
        font-size: 3rem;
      }
      h3 {
        font-size: 4rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    #menu-btn {
      display: inline-block;
    }

    .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background-color: $white;
      z-index: 1000;
      width: 35rem;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      transition: 0.8s linear;

      &.active {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
        left: 0;
      }

      a {
        margin: 1rem 0;
        font-size: 3rem;
      }

      #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
